* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  color: #fff;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
header {
  height: 100px;
  background: #262626;
  width: 100%;
  z-index: 10;
  position: fixed;
}
.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}
.logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: poppins;
  color: #fff;
  letter-spacing: 5px;
}
nav {
  float: right;
  line-height: 100px;
}
nav a {
  text-decoration: none;
  font-family: poppins;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 10px;
  color: #fff;
}
.banner-area {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background: #ffee03;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  flex: 1;
}

h1 {
  padding-top: 9%;
  font-size: 70px;
  font-family: poppins;
  color: #fff;
  position: absolute;
  left: 0%;
  display: inline-block;
}
h1 span {
  position: absolute;
  left: 0;
  top: 64%;
  height: 36.5%;
  width: 0%;
  background-color: crimson;
}
@keyframes overlay {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
.content-area {
  width: 100%;
  position: relative;
  top: 780px;
  color: #262626;
  background: #ebebeb;
  height: 1500px;
}
