* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  color: #fff;
  cursor: cell;
}
/* cursor */
.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}
/*  */
/* Navigation Bar */
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
header {
  height: 100px;
  background: #262626;
  width: 70%;
  z-index: 10;
  position: fixed;
}
.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}
.logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: poppins;
  color: #fff;
  letter-spacing: 5px;
}
nav {
  float: right;
  line-height: 100px;
  margin-right: 5%;
}
nav a {
  text-decoration: none;
  font-family: poppins;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 10px;
  color: black;
}
/*  */
.banner-area {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background: #ffee03;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  flex: 1;
}
/* Text revel */
h1 {
  padding-top: 9%;
  font-size: 70px;
  font-family: poppins;
  color: transparent;
  position: absolute;
  left: 10%;
  display: inline-block;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
h1 span {
  position: absolute;
  left: 0;
  top: 65%;
  height: 33%;
  width: 0%;
  background-color: crimson;
  animation: overlay 1s ease forwards;
  animation-delay: 0.5s;
}
h1:nth-child(1) {
  animation-delay: 1s;
}
h1:nth-child(2) {
  animation-delay: 2s;
}
h1:nth-child(1) span {
  animation-delay: 0.5s;
}
h1:nth-child(2) span {
  animation-delay: 1.5s;
}
@keyframes overlay {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
/*  */
/* Banner right dec */
.banner-area-right {
  padding-top: 9%;
  font-size: 20px;
  font-family: poppins;
  position: absolute;
  right: 5%;
  left: 40%;
  color: transparent;
  display: inline-block;
  animation: text_reveal 0.8s ease forwards;
  animation-delay: 0s;
}
/*  */

.content-area {
  width: 100%;
  font-size: 50px;
  font-family: poppins;
  position: relative;
  top: 780px;
  color: #262626;
  background: #ebebeb;
  height: 1500px;
}
